.toast {
    position: fixed;
    bottom: 7.188rem;
    left: 82%;
    transform: translateX(-50%);
    background-color: rgba(21, 193, 150, 0.1);
    color: white;
    padding: 1.25rem;
    border: 0.125rem solid rgba(21, 193, 150, 1);
    border-radius: 0.313rem;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.toast.show {
    opacity: 1;
    animation: fadeOut 3s forwards;
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}